<!DOCTYPE html>
<html lang="en" ng-app="nameApplication">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>

    <script src="~/Scripts/angular.min.js"></script> 
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Application/nameApplication.module.js"></script>
    <script src="~/Application/nameApplicationController.js"></script>
</head>
<body ng-controller="nameApplicationController as nameApp">
    <main class="container" ng-cloak>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <span class="navbar-brand">{{nameApp.header}}</span>
                <div class="row">
                    <div class="col col-lg-12 col-lg-push-6 col-xs-12">
                        <button type="button" class="btn btn-primary padding-left-15" ng-click="nameApp.onOrderMostPopular()">Most popular</button>
                        <button type="button" class="btn btn-primary padding-left-15" ng-click="nameApp.onOrderAlphabetical()">Alphabetical</button>
                        <button type="button" class="btn btn-success padding-left-15" ng-click="nameApp.onTotalAmount()">Total amount</button>
                        @*<button type="submit" class="btn btn-success padding-left-15" ng-disabled="nameApp.name === undefined || nameApp.name === ''" ng-click="nameApp.onAmountByName(nameApp.name)">Amount as parameter</button>*@
                        <button type="button" class="btn btn-secondary padding-left-15" ng-click="nameApp.onShowJson()">JSON</button>
                    </div>
                </div>
                <div>
                    <div class="col col-lg-12 col-xs-12">
                        <form class="form-inline mt-2 mt-md-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Search" ng-model="nameApp.name">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" ng-disabled="nameApp.name === ''" ng-click="nameApp.onAmountByName(nameApp.name)">Search</button>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="col col-lg-12 col-xs-12">
                        <span style="color:white">Total amount: {{nameApp.model.amount}}</span>
                    </div>
                </div>
            </nav>
        </header>

        <form class="container">
            @*<div class="row">
                <div class="col col-lg-12 col-lg-push-6 col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="nameApp.onOrderMostPopular()">Most popular</button>
                    <button type="button" class="btn btn-primary" ng-click="nameApp.onOrderAlphabetical()">Alphabetical</button>
                    <button type="button" class="btn btn-secondary" ng-click="nameApp.onTotalAmount()">Total amount</button>
                    <button type="submit" class="btn btn-success" ng-disabled="nameApp.name === ''" ng-click="nameApp.onAmountName(nameApp.name)">Amount as parameter</button>
                    <button type="button" class="btn btn-secondary" ng-click="nameApp.onShowJson()">Json</button>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col col-lg-12 col-lg-push-6 col-xs-12">
                    <span class="text-center">total amount: {{nameApp.model.amount}}</span>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col col-lg-12 col-lg-push-6 col-xs-12">
                    Write name <input type="text" ng-model="nameApp.name">
                </div>
            </div>*@
            <div class="row margin-top-40" ng-if="nameApp.alpha != true && nameApp.para === false && nameApp.json === false">
                <div class="col col-lg-12 col-xs-12 padding-top-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-none">All names:</th>
                                <th class="padding-left-10 border-top-none">Amount:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="names in nameApp.model.names | orderBy : '-amount'">
                                <td>{{names.name}}</td>
                                <td>{{names.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-top-40" ng-if="nameApp.alpha === true && nameApp.para === false && nameApp.json === false">
                <div class="col col-lg-12 col-xs-12 padding-top-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-none">All names:</th>
                                <th class="padding-left-10 border-top-none">Amount:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="names in nameApp.model.names | orderBy : 'name'">
                                <td>{{names.name}}</td>
                                <td>{{names.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-top-40" ng-if="nameApp.para === true">
                <div class="col col-lg-12 col-xs-12 padding-top-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-none">All names:</th>
                                <th class="padding-left-10 border-top-none">Amount:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{nameApp.nameModel.name}}</td>
                                <td>{{nameApp.nameModel.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-top-40" ng-if="nameApp.json === true">
                <div class="col col-lg-12 col-xs-12 padding-top-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-none">All names:</th>
                                <th class="padding-left-10 border-top-none">Amount:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="names in nameApp.model.names">
                                <td>{{names.name}}</td>
                                <td>{{names.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </main>
</body>
</html>